:root {
  --bg-color: #101010;
  --bg-color-light: rgba(41, 41, 41, 0.7);
  --white: white;
  --par-color: #9a9a9a;
  --pink: #ff59ec;
  --scale-increase: 1.2;
  --transition-speed: 0.2s;
}

html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  background-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  color: var(--white);
  margin: 0px;
  margin-bottom: 5px;
}

p {
  color: var(--par-color);
  margin: 0px;
  margin-bottom: 5px;
}
