:root {
  --bg-color: #000000;
  --surface-10: rgba(30, 30, 30, 0.7);
  --surface-10-opaque: #1e1e1e;
  --surface-20: #353535;
  --surface-30: #4e4e4e;
  --par-color: #858585;
  --white: white;
  --pink: #f16eb0;
  --scale-increase: 1.2;
  --transition-speed: 0.2s;
  color-scheme: dark;
}

html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  background-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  color: var(--white);
  margin: 0px;
  margin-bottom: 5px;
}

p {
  color: var(--par-color);
  margin: 0px;
  margin-bottom: 5px;
}
